
/*Home Page*/

*main{
    margin: 0; 
    padding: 0;
}

main{
    width: 100%;
    max-width: 800px;
    background-color: black;
    margin: 0 auto; 
}

body{
    margin: 0;
    background-color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}


.ImageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation Bar*/

.TopNav{
    width: 100%;
    background-color: grey;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
}

.TopNav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.TopNav li{
    /* float: left; */
}

.TopNav ul li a{
    display: block;
    padding: lem;        
    color: black;
    transition: .5s;
    text-decoration: none;
}

.TopNav ul li a:hover{
    background-color:rgb(198, 194, 194);
    color:aliceblue;
}


/* a:link{ 
color: white;
width: 150px;
text-decoration: none;
display: block;
text-align: center;
padding: 15px;
text-transform: uppercase;
font-size: 18px; 
} */



/* Footer */ 

footer{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color:black;
}

footer ul li a{
    display: block;
    padding: 10px;
}