#introduction{
    width: 75%;
    max-width: 900px;
    text-align: center;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
  
}

#awarenessphotos{
    display: flex;
    width: fit-content;
    justify-content: space-around;

}

#awarenessphotos img{
    width: 30%;
    padding: 5px;
   border-radius: 10px;
}